.searchList{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    .ant-table-wrapper{
        height: 100%;
    }
    .ant-table-tbody{
        tr td span i{
            margin: 0 5px;
        }
        tr td em{
            color: red;
            font-style: normal;
        }
    }
}
